<div class="container">
    <p class="lead text-center">Good morning!</p>
    <p class="lead text-center">Here are your tasks for the day, let's get 'em done!</p>
    <p class="lead text-center">You have no tasks for the day.</p>
    <p class="lead text-center">Enter your tasks for the day</p>
</div>
<div class="tasks-input-container container">
    <div class="task-item-input d-flex">
        <input type="text" class="form-control" id="input-task" placeholder="Enter your task">
    <input type="time" name="time" id="time" placeholder="Select a time">
    </div>
</div>
<div class="container tasks-output">
    <div class="task-items">
        <div class="task-item d-flex justify-content-between">
            <div class="item-text d-flex justify-content-between">
            <p class="primary">Go to school</p>
            <p class="primary align-self-end">11.00pm</p>
            </div>
            
            <div class="buttons d-flex justify-content-between">
            <button class="btn btn-success">Complete</button>
            <button class="btn btn-danger">Delete</button>
            </div>
            
        </div>
    </div>
</div>